Repository JonathanSalwan/Triton, pull requests merged in 2018-07, with the labels that each got.

#698 Handle multiple time the same parent for one ast node.
  src/libtriton/ast/ast.cpp
  src/libtriton/includes/triton/ast.hpp
Labels: AST Semantics Representations, Bug, libTriton

#699 Avoid link issue with template declaration not defined.
  src/libtriton/ast/ast.cpp
  src/libtriton/ast/astContext.cpp
  src/libtriton/includes/triton/ast.hpp
  src/libtriton/includes/triton/astContext.hpp
  src/libtriton/includes/triton/coreUtils.hpp
  src/libtriton/includes/triton/pythonObjects.hpp
Labels: Bug, Compile, Windows, libTriton

#703 Python3 support for bindings
  CMakeLists.txt
  src/examples/python/backward_slicing.py
  src/examples/python/code_coverage_crackme_xor.py
  src/examples/python/constraints.py
  src/examples/python/disass.py
  src/examples/python/hooking_libc.py
  src/examples/python/ir.py
  src/examples/python/proving_opaque_predicates.py
  src/examples/python/simplification.py
  src/examples/python/small_x86-64_symbolic_emulator.py
  src/examples/python/symbolic_emulation_1.py
  src/examples/python/symbolic_emulation_2.py
  src/examples/python/symbolic_emulation_crackme_xor.py
  src/libtriton/CMakeLists.txt
  src/libtriton/bindings/python/init.cpp
  src/libtriton/bindings/python/namespaces/initArchNamespace.cpp
  src/libtriton/bindings/python/namespaces/initAstNodeNamespace.cpp
  src/libtriton/bindings/python/namespaces/initAstRepresentationNamespace.cpp
  src/libtriton/bindings/python/namespaces/initCallbackNamespace.cpp
  src/libtriton/bindings/python/namespaces/initCpuSizeNamespace.cpp
  src/libtriton/bindings/python/namespaces/initModeNamespace.cpp
  src/libtriton/bindings/python/namespaces/initOperandNamespace.cpp
  src/libtriton/bindings/python/namespaces/initRegNamespace.cpp
  src/libtriton/bindings/python/namespaces/initSymExprNamespace.cpp
  src/libtriton/bindings/python/namespaces/initSyscallNamespace.cpp
  src/libtriton/bindings/python/namespaces/initVersionNamespace.cpp
  src/libtriton/bindings/python/namespaces/initX86OpcodesNamespace.cpp
  src/libtriton/bindings/python/namespaces/initX86PrefixesNamespace.cpp
  src/libtriton/bindings/python/objects/pyAstContext.cpp
  src/libtriton/bindings/python/objects/pyAstNode.cpp
  src/libtriton/bindings/python/objects/pyBitsVector.cpp
  src/libtriton/bindings/python/objects/pyImmediate.cpp
  src/libtriton/bindings/python/objects/pyInstruction.cpp
  src/libtriton/bindings/python/objects/pyMemoryAccess.cpp
  src/libtriton/bindings/python/objects/pyPathConstraint.cpp
  src/libtriton/bindings/python/objects/pyRegister.cpp
  src/libtriton/bindings/python/objects/pySolverModel.cpp
  src/libtriton/bindings/python/objects/pySymbolicExpression.cpp
  src/libtriton/bindings/python/objects/pySymbolicVariable.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
  src/libtriton/bindings/python/pyXFunctions.cpp
  src/libtriton/includes/triton/pythonBindings.hpp
Labels: Bindings, Enhancement, libTriton
