Repository JonathanSalwan/Triton, pull requests merged in 2018-09, with the labels that each got.

#701 Fix #553: Implicit node visitor and simplification
  src/libtriton/engines/symbolic/symbolicSimplification.cpp
Labels: Enhancement, SMT Simplification, libTriton

#721 Permit reference node be logical if expr is logical
  src/libtriton/ast/ast.cpp
Labels: Enhancement, ISA Semantics, libTriton

#720 Semantics fixes
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/includes/triton/x86Semantics.hpp
Labels: Bug, Feature, ISA Semantics, libTriton
