Repository JonathanSalwan/Triton, pull requests merged in 2019-10, with the labels that each got.

#809 various fixes and improvements
  .editorconfig
  src/libtriton/CMakeLists.txt
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/ast/ast.cpp
  src/libtriton/ast/astContext.cpp
  src/libtriton/ast/representations/astPythonRepresentation.cpp
  src/libtriton/ast/representations/astSmtRepresentation.cpp
  src/libtriton/ast/z3/tritonToZ3Ast.cpp
  src/libtriton/ast/z3/z3ToTritonAst.cpp
  src/libtriton/bindings/python/objects/pyAstContext.cpp
  src/libtriton/bindings/python/objects/pySymbolicVariable.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
  src/libtriton/includes/triton/ast.hpp
  src/libtriton/includes/triton/astContext.hpp
  src/libtriton/includes/triton/astEnums.hpp
  src/libtriton/includes/triton/astPythonRepresentation.hpp
  src/libtriton/includes/triton/astSmtRepresentation.hpp
  src/libtriton/includes/triton/exceptions.hpp
  src/testers/unittests/test_callback.py
Labels: AST, Bug, Enhancement, Feature, SMT Simplification, libTriton

#811 add header dependency to improve cmake add_subdirectory support
  src/libtriton/CMakeLists.txt
Labels: Compile, Enhancement, libTriton

#819 tracer: use vectors instead of lists for blacklists
  src/tracer/pin/bindings.hpp
  src/tracer/pin/init.cpp
  src/tracer/pin/main.cpp
Labels: Enhancement, Pintool

#820 Increase speed of nodes nodesExtraction algorithm and apply it in newInstance
  src/libtriton/ast/ast.cpp
  src/libtriton/ast/astContext.cpp
  src/libtriton/ast/z3/tritonToZ3Ast.cpp
  src/libtriton/engines/symbolic/symbolicEngine.cpp
  src/libtriton/includes/triton/ast.hpp
  src/testers/unittests/test_ast_deep.py
Labels: AST, Enhancement, libTriton

#815 fix AST simplification pass not updating nodes' special attributes (e.g. "symbolized")
  src/libtriton/ast/ast.cpp
  src/libtriton/engines/symbolic/symbolicExpression.cpp
  src/libtriton/engines/symbolic/symbolicSimplification.cpp
  src/libtriton/includes/triton/ast.hpp
Labels: AST, Enhancement, libTriton
