Repository JonathanSalwan/Triton, pull requests merged in 2020-10, with the labels that each got.

#954 Print sliced expressions conjuncts asserts line by line
  src/libtriton/engines/symbolic/symbolicEngine.cpp
Labels: Enhancement, Symbolic Engine, libTriton

#955 Create volatile expression for extended part to avoid long formulas while printing
  src/libtriton/engines/symbolic/symbolicEngine.cpp
Labels: Enhancement, SMT Simplification, libTriton

#952 New instructions semantics
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/includes/triton/x86Semantics.hpp
  src/testers/x86/unicorn_test_x86.py
Labels: Feature, ISA Semantics, libTriton

#959 Fix PINSRW instruction
  src/libtriton/arch/x86/x86Semantics.cpp
Labels: Bug, ISA Semantics, libTriton

#961 Fix citation
  README.md
Labels: Documentation, Enhancement
