Repository JonathanSalwan/Triton, pull requests merged in 2020-05, with the labels that each got.

#897 Fix linking 32-bit Triton on a 64-bit machine
  CMakeLists.txt
  src/libtriton/CMakeLists.txt
Labels: Bug, Compile, libTriton

#909 update semantic of imul, mul, mulx to avoid extract of sz/zx
  src/libtriton/arch/x86/x86Semantics.cpp
Labels: Enhancement, ISA Semantics, libTriton

#914 Push simple expressions to path constraints
  src/libtriton/engines/symbolic/pathManager.cpp
  src/testers/unittests/test_path_constraint.py
Labels: Enhancement, Symbolic Engine, libTriton

#902 Support SMT/Python Expressions dump
  src/libtriton/api/api.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
  src/libtriton/engines/symbolic/symbolicEngine.cpp
  src/libtriton/includes/triton/api.hpp
  src/libtriton/includes/triton/symbolicEngine.hpp
Labels: Core, Feature, libTriton
