Repository JonathanSalwan/Triton, pull requests merged in 2020-04, with the labels that each got.

#869 jcxz subset of instructions added
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/includes/triton/x86Semantics.hpp
Labels: Feature, ISA Semantics, libTriton

#874 LZCNT semantic. Improved TZCNT semantic.
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/includes/triton/x86Semantics.hpp
  src/samples/ir_test_suite/ir.c
  src/testers/x86/unicorn_test_x86.py
Labels: Feature, ISA Semantics, libTriton

#879 Disable Python bindings for static build
  CMakeLists.txt
Labels: Bug, Compile, libTriton

#880 Export fromUintToBuffer and fromBufferToUintfunctions
  src/libtriton/includes/triton/coreUtils.hpp
Labels: Compile, Enhancement, libTriton

#881 TRITON_EXPORT initHash
  src/libtriton/includes/triton/ast.hpp
Labels: Bug, Compile, Windows, libTriton

#891 Add API method for pushing path condition object
  src/examples/cpp/ctest_api.cpp
  src/libtriton/api/api.cpp
  src/libtriton/engines/symbolic/pathManager.cpp
  src/libtriton/includes/triton/api.hpp
  src/libtriton/includes/triton/pathManager.hpp
Labels: Feature, Symbolic Engine, libTriton
