Repository JonathanSalwan/Triton, pull requests merged in 2021-02, with the labels that each got.

#985 Fix the neg operation in python AST representation
  src/libtriton/ast/representations/astPythonRepresentation.cpp
Labels: AST Representation, Bug, libTriton

#991 Example symbolic emulator must care about dynamic relocations
  src/examples/python/small_x86-64_symbolic_emulator.py
Labels: Documentation

#987 Utility functions
  src/libtriton/ast/ast.cpp
  src/libtriton/ast/astContext.cpp
  src/libtriton/bindings/python/objects/pyAstContext.cpp
  src/libtriton/engines/symbolic/pathConstraint.cpp
  src/libtriton/engines/symbolic/symbolicEngine.cpp
  src/libtriton/includes/triton/ast.hpp
  src/libtriton/includes/triton/pathConstraint.hpp
  src/testers/unittests/test_ast_utils.py
Labels: Enhancement, Feature, libTriton
