Repository JonathanSalwan/Triton, pull requests merged in 2021-08, with the labels that each got.

#882 FPU specifications
  src/libtriton/CMakeLists.txt
  src/libtriton/arch/bitsVector.cpp
  src/libtriton/arch/immediate.cpp
  src/libtriton/arch/memoryAccess.cpp
  src/libtriton/arch/x86/x8664Cpu.cpp
  src/libtriton/arch/x86/x86Cpu.cpp
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/bindings/python/namespaces/initCpuSizeNamespace.cpp
  src/libtriton/engines/symbolic/symbolicEngine.cpp
  src/libtriton/includes/triton/coreUtils.hpp
  src/libtriton/includes/triton/cpuSize.hpp
  src/libtriton/includes/triton/tritonTypes.hpp
  src/libtriton/includes/triton/x86.spec
  src/libtriton/includes/triton/x8664Cpu.hpp
  src/libtriton/includes/triton/x86Cpu.hpp
  src/libtriton/includes/triton/x86Semantics.hpp
  src/libtriton/utils/coreUtils.cpp
  src/testers/unittests/test_concrete_value.py
  src/testers/x86/unicorn_test_x86.py
  src/tracer/pin/context.cpp
Labels: Core, Feature, ISA Semantics, libTriton

#1034 use vcpkg to reference libraries
  CMakeLists.txt
Labels: Enhancement, Windows, libTriton, Compile

#1038 added a fix for reference counting with python callbacks
  src/libtriton/arch/x86/x86Specifications.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
  src/libtriton/callbacks/callbacks.cpp
  src/libtriton/includes/triton/callbacks.hpp
  src/testers/unittests/test_callback.py
Labels: Enhancement, Core, libTriton

#1039 Fix syscall semantics on AMD32
  src/libtriton/arch/x86/x86Semantics.cpp
Labels: Bug, ISA Semantics, libTriton
