Repository JonathanSalwan/Triton, pull requests merged in 2021-03, with the labels that each got.

#999 Enable to use Python 3.9
  CMakeLists.txt
Labels: Bindings, Compile, Feature

#1005 Append missing instruction symbolic expressions when AST_OPTIMIZATIONS are enabled
  src/libtriton/engines/symbolic/symbolicEngine.cpp
  src/libtriton/includes/triton/symbolicEngine.hpp
  src/testers/unittests/test_ast_simplification.py
Labels: Bug, Solver Engine, Symbolic Optimization, libTriton

#1004 Fix - PYTHON_VERSION_STRING may be empty
  CMakeLists.txt
  src/testers/CMakeLists.txt
Labels: Bug, Compile

#1007 Disassemble to control flow instruction from concrete memory
  src/libtriton/api/api.cpp
  src/libtriton/arch/architecture.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
  src/libtriton/includes/triton/api.hpp
  src/libtriton/includes/triton/architecture.hpp
  src/testers/unittests/test_disass.py
Labels: Core, Disassembly, libTriton
