Repository JonathanSalwan/Triton, pull requests merged in 2022-09, with the labels that each got.

#1176 AARCH64: add pushing path constraint in TBNZ, TBZ semantics
  src/libtriton/arch/arm/aarch64/aarch64Semantics.cpp
Labels: Bug, ISA Semantics, libTriton

#1177 Set commit for Bitwuzla build on Python workflow
  src/scripts/docker/build-wheel-linux.sh
Labels: Enhancement, Compile

#1182 Fix call semantics
  src/libtriton/arch/x86/x86Semantics.cpp
  src/testers/unittests/test_callback.py
Labels: Bug, ISA Semantics, libTriton

#1183 Add support for TBB and TBH (ARM32)
  src/libtriton/arch/arm/arm32/arm32Semantics.cpp
  src/libtriton/arch/arm/arm32/arm32Specifications.cpp
  src/libtriton/includes/triton/arm32Semantics.hpp
  src/testers/CMakeLists.txt
  src/testers/arm32/unicorn_test_arm32_branch_thumb_3.py
  src/testers/arm32/unicorn_test_arm32_branch_thumb_4.py
Labels: Feature, ISA Semantics, libTriton
