Repository JonathanSalwan/Triton, pull requests merged in 2022-02, with the labels that each got.

#1083 Update README to reflect that python is an optional library
  README.md
Labels: Bug, Documentation

#1088 [cmake] Fix pre-definintion and dynamic library installation, add options for examples and tests
  CMakeLists.txt
  src/CMakeLists.txt
  src/libtriton/CMakeLists.txt
Labels: Bug, Windows, libTriton, Compile

#1094 Dockerfile for Triton with LLVM, Z3, and bitwuzla
  Dockerfile
Labels: Enhancement, Compile

#1098 Added Load/Phi/Call lifters
  src/libtriton/ast/llvm/llvmToTriton.cpp
  src/libtriton/includes/triton/llvmToTriton.hpp
Labels: Enhancement, libTriton, AST Lifting
