Repository JonathanSalwan/Triton, pull requests merged in 2022-08, with the labels that each got.

#1168 Add TSC as MSR register to support concrete RDTSC values
  src/libtriton/arch/x86/x8664Cpu.cpp
  src/libtriton/arch/x86/x86Cpu.cpp
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/includes/triton/x86.spec
  src/libtriton/includes/triton/x8664Cpu.hpp
  src/libtriton/includes/triton/x86Cpu.hpp
Labels: Feature, Core, ISA Semantics, libTriton

#1172 AARCH64: Fix instruction memory access size when it's specified by instruction (ldrb, etc)
  src/libtriton/arch/arm/aarch64/aarch64Cpu.cpp
  src/libtriton/arch/arm/aarch64/aarch64Semantics.cpp
  src/libtriton/arch/arm/aarch64/aarch64Specifications.cpp
  src/libtriton/arch/arm/arm32/arm32Cpu.cpp
  src/libtriton/arch/arm/arm32/arm32Semantics.cpp
  src/libtriton/arch/arm/arm32/arm32Specifications.cpp
  src/libtriton/includes/triton/aarch64Specifications.hpp
  src/libtriton/includes/triton/arm32Specifications.hpp
Labels: Bug, ISA Semantics, libTriton

#1173 Wheel build process improvements (issue #1145)
  .github/workflows/python.yml
  CMakeLists.txt
  src/libtriton/engines/solver/bitwuzla/bitwuzlaSolver.cpp
  src/scripts/docker/build-wheel-linux.sh
Labels: Enhancement, libTriton, Compile

#1167 Add x86 PMULUDQ and PSHUFB semantics
  src/libtriton/arch/x86/x86Semantics.cpp
  src/libtriton/includes/triton/x86Semantics.hpp
Labels: Feature, ISA Semantics, libTriton

#1163 Add execCallbacks to memory and register getters & setters with Python bindings.
  src/libtriton/arch/architecture.cpp
  src/libtriton/arch/arm/aarch64/aarch64Cpu.cpp
  src/libtriton/arch/arm/arm32/arm32Cpu.cpp
  src/libtriton/arch/x86/x8664Cpu.cpp
  src/libtriton/arch/x86/x86Cpu.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
  src/libtriton/context/context.cpp
  src/libtriton/includes/triton/aarch64Cpu.hpp
  src/libtriton/includes/triton/architecture.hpp
  src/libtriton/includes/triton/arm32Cpu.hpp
  src/libtriton/includes/triton/context.hpp
  src/libtriton/includes/triton/cpuInterface.hpp
  src/libtriton/includes/triton/x8664Cpu.hpp
  src/libtriton/includes/triton/x86Cpu.hpp
  src/testers/unittests/test_execCallbacks.py
Labels: Enhancement, Core, libTriton
