Repository JonathanSalwan/Triton, pull requests merged in 2022-01, with the labels that each got.

#1064 Added measuring solving time.
  src/libtriton/api/api.cpp
  src/libtriton/engines/solver/solverEngine.cpp
  src/libtriton/engines/solver/z3/z3Solver.cpp
  src/libtriton/includes/triton/api.hpp
  src/libtriton/includes/triton/solverEngine.hpp
  src/libtriton/includes/triton/solverInterface.hpp
  src/libtriton/includes/triton/z3Solver.hpp
Labels: Feature, Solver Engine, libTriton

#1068 Bitwuzla evaluate
  src/libtriton/api/api.cpp
  src/libtriton/ast/bitwuzla/tritonToBitwuzlaAst.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
  src/libtriton/engines/solver/bitwuzla/bitwuzlaSolver.cpp
  src/libtriton/includes/triton/api.hpp
  src/libtriton/includes/triton/bitwuzlaSolver.hpp
  src/libtriton/includes/triton/tritonToBitwuzlaAst.hpp
  src/testers/unittests/test_ast_conversion.py
  src/testers/unittests/test_ast_eval.py
Labels: Enhancement, Feature, Solver Engine, AST Evaluation, libTriton

#1072 Fix win static build
  CMakeLists.txt
  src/libtriton/CMakeLists.txt
Labels: Enhancement, Windows, libTriton, Compile
