Repository JonathanSalwan/Triton, pull requests merged in 2025-02, with the labels that each got.

#1379 Fixes improper sorting of function arguments when lifting to LLVM
  src/libtriton/ast/llvm/tritonToLLVM.cpp
Labels: Bug, AST Lifting

#1388 Add python autcompletion tips to doc
  README.md
Labels: libTriton, Documentation, Compile

#1386 fix + improve python type stubs
  doc/autocomplete/function.py
  doc/autocomplete/generate_autocomplete.py
  src/libtriton/bindings/python/namespaces/initOpcodesNamespace.cpp
  src/libtriton/bindings/python/objects/pyTritonContext.cpp
Labels: Bug, Enhancement, libTriton, Documentation
